.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
	border-radius: 1px;
}

.modal-dialog {
	border-radius: 5px;
}

#notification {
	border-radius: 5px 5px 0px 0px;
}
